<div class="dayTime" style="border: 1px solid grey; width: 50%;">
  <div style="text-align: center;">
    <h4>*ngIf else test</h4>
    <button (click)="ngIfTest()" class="btn btn-primary">ngIf test</button>
    <p *ngIf="ngIfElse; else successElse">True</p>
    <ng-template #successElse>
      <p>False</p>
    </ng-template>
    <hr>
    <p>what Is Outside Now?</p>
    <b><p>It's {{ whatIsOutsideNow() }}</p></b>
    <div>{{ CurrentDate | date: 'hh:mm:ss' }}</div>
  </div>
</div>
<hr>
<div class="dayTime" style="border: 1px solid grey; width: 50%;">
    <div style="text-align: center;">
      <h4>*ngFor test</h4>

      <!-- <button (click)="ngIfTest()" class="btn btn-primary">ngIf test</button> -->
      <!-- <p *ngIf="ngIfElse; else successElse">True</p> -->
      <app-card *ngFor="let card of arrayOfCards"></app-card>

      <hr>
      <h4>All cards in array now:</h4>
      <ul>
        <li></li>
      </ul>


    </div>
  </div>
  <hr>


<button [disabled]="!addNewCard" class="btn btn-primary">Add new card after 5 seconds</button>
<hr>
<button disabled='{{ !addNewCard }}' class="btn btn-primary">Always disabled</button>
<hr>
<button class="btn btn-success" (click)="addCard()">Add new card (click test)</button>
<p>{{ addCardStatus }}</p>
<hr>

<input type="text" class="form-control" (input)="onKeyUp($event)" placeholder="(input)='onKeyUp($event)'">  
<p>{{ inputText }}</p>
<hr>

<input type="text" class="form-control" #myInput (input)="onTyping(myInput.value)" placeholder="#myInput (input)='onTyping(myInput.value)'">  
<p>{{ inputText2 }}</p>
<hr>

<input type="text" class="form-control" (keyup)="onEnterText($event)" placeholder="click on 'Enter">  
<p>{{ inputText3 }}</p>
<hr>

<input type="text" class="form-control" (keyup.enter)="onEnterText4($event)" placeholder="(keyup.enter) click on Enter MORE SIMPLE">  
<p>{{ inputText4 }}</p>
<hr>

<h4>Two way binding</h4>
<input type="text" class="form-control" [(ngModel)]="twoWayBinding">
<p>{{ twoWayBinding }}</p>
<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="col">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="col">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>
