div {
    border: 1px solid grey;
    margin-top: 20px;
    display: inline-block;
}

img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
}